<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sena.jennyferlopez.englishkids">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.nivel1.Escalera1Activity" />
        <activity
            android:name=".activities.nivel1.SaludosyDiasActivity"
            android:label="@string/title_activity_saludosy_dias"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.nivel1.ColisionarDiasActivity" />
        <activity android:name=".activities.nivel1.SelectDiasActivity" />
        <activity android:name=".activities.nivel1.CompletaDiasActivity" />
        <activity android:name=".activities.nivel1.SelectDias2Activity" />
        <activity android:name=".activities.nivel1.SelectDias3Activity" />
        <activity android:name=".activities.dos.FruitsyColorsActivity" />
        <activity android:name=".activities.dos.CanastaFrutasActivity" />
        <activity android:name=".activities.dos.CorresColoresActivity" />
        <activity android:name=".activities.dos.CorresColores2Activity" />
        <activity android:name=".activities.dos.CorresColores3Activity" />
        <activity android:name=".activities.dos.ConcentrateFyCActivity" />
        <activity
            android:name=".activities.tres.NumerosyAnimalesActivity"
            android:label="@string/title_activity_numerosy_animales"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.tres.TrenAnimalesActivity" />
        <activity android:name=".activities.tres.SonidoCorrNumActivity" />
        <activity android:name=".activities.tres.TrenAnimales2Activity" />
        <activity android:name=".activities.tres.TrenAnimales3Activity" />
        <activity android:name=".activities.WinnersActivity" />
        <activity
            android:name=".activities.cuatro.PartesCasayCuerpoActivity"
            android:label="@string/title_activity_partes_casay_cuerpo"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.cuatro.ColPartesCuerpoActivity" />
        <activity android:name=".activities.cuatro.ConcentrateCuerpoActivity" />
        <activity android:name=".activities.cuatro.CasaCorresponActivity" />
        <activity android:name=".activities.cuatro.CasaCorrespon2Activity" />
        <activity android:name=".activities.cuatro.CasaCorrespon3Activity" />
        <activity android:name=".activities.cuatro.CasaCorrespon4Activity"></activity>
    </application>

</manifest>